.form__col {
    border-color: var(--main-border-color) !important;
    height: 750px;
}

.form__col:nth-child(1) {
    border-top: 1px;
    border-right: none !important;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
}

.form__col:nth-child(2) {
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: none !important;
    border-style: solid;
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) 0px;
    width: 100%;
}

.form__col-signup-img {
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    background-image: url('../../../src/assets/sign-up.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.form__col-signin-img {
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    background-image: url('../../../src/assets/sign-in.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form__col-forgot-img {
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    background-image: url('../../../src/assets/forgot-password.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form__col-reset-img {
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    background-image: url('../../../src/assets/reset-password.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.form__recaptcha-box {
    transform: scale(1);
    transform-origin: 0 0;
}

.form__col {
    height: 650px;
}

@media (max-width: 767px) {

    .form__col-background-overlay {
        position: relative;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form__col-background-overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(var(--main-white-shade-vals), 0.8);
        z-index: 1;
    }

    .form__col-background-overlay form {
        position: relative;
        z-index: 2;
    }

    .form__col:nth-child(2) {
        border: 1px solid var(--main-border-color) !important;
        border-radius: var(--main-border-radius);
    }

    .form__btn {
        border-top: 1px !important;
        border-right: 1px !important;
        border-bottom: 1px !important;
        border-left: 1px !important;
        border-style: solid !important;
        border-color: rgba(var(--main-title-color-hover-vals), 0.8) !important;
    }
}

@media (max-width: 400px) {

    .form__recaptcha-box {
        transform: scale(0.7);
    }
}

@media (min-width: 401px) and (max-width: 575px) {
    .form__recaptcha-col {
        margin-bottom: 16px !important;
    }
}

@media (max-width: 320px) {
    .form__recaptcha-box {
        transform: scale(0.7);
    }
}