.report-modal {
    padding-left: 0px !important;
}

.report-modal>.modal-dialog {
    height: 100vh;
    margin-block: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-modal>.modal-dialog>.modal-content {
    max-height: 100vh;
    overflow-y: auto;
    margin-block: 0;
    border-radius: var(--main-border-radius) !important;
}

.plain-modal__btn {
    background-color: var(--main-danger-color) !important;
    color: var(--main-text-color-hover) !important;
}

.plain-modal__btn:hover,
.plain-modal__btn:focus {
    background-color: var(--main-danger-color-hover) !important;
    color: var(--main-text-color-hover) !important;
}