.tool-tip__custom {
    opacity: 1 !important;
}

.tool-tip__custom>.tooltip-inner {
    max-width: 328px;
    border-radius: var(--main-border-radius);
    background-color: var(--main-white-shade);
    color: var(--main-text-color);
    border: 1px solid;
    border-color: var(--main-border-color);
}

.tool-tip__custom>.tooltip-arrow::before {
    border-top-color: var(--main-border-color) !important;
}

.toast__full,
.toast__full>.toast-header {
    border-radius: var(--main-border-radius) !important;
    border-color: var(--main-border-color) !important;
}

@media (max-width: 575px) {
    .tool-tip__custom>.tooltip-inner {
        max-width: 300px;
    }
}