.card__col {
    padding-block: 12px !important;
}

.card__div {
    padding: 10px;
    border-radius: var(--main-border-radius);
    transition: var(--main-transition-speed);
    box-shadow: 0px 0px 0px white;
    background-color: var(--main-white-shade);
}

.card__div-featured {
    border: 1px solid var(--card-border-color);
}

.card__div-featured:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 3px var(--card-border-color);
}

.card__div a {
    text-decoration: none !important;
    color: var(--main-title-color) !important;
    transition: var(--main-transition-speed);
}

.card__div h3 {
    text-decoration: none !important;
}

.card__div a:hover {
    color: var(--main-title-color-hover) !important;
}

.card__div h3 {
    font-family: var(--card-font-family) !important;
    font-size: var(--card-title-font-size) !important;
    font-weight: var(--card-title-weight);
    /* color: var(--main-title-color) !important; */
}

.card__div>div>iframe {
    min-width: 0px !important;
    width: 100% !important;
    transition: var(--main-transition-speed);
    margin-bottom: 0px !important;
}

.card__div-details-link {
    padding-top: 10px;
}

@media (max-width: 575px) {
    .card__col {
        padding-inline: 6px !important;
    }
}