.back-button {
    min-width: max-content;
}

.navbar__body {
    background-color: var(--main-white-shade) !important;
    border-color: var(--main-border-color) !important;
    border-inline: 0px !important;
}

.navbar__btn {
    max-height: 34px;
    padding-block: 4px !important;
    padding-inline: 8px !important;
    border-radius: var(--main-border-radius) !important;
    transition: var(--main-transition-speed) !important;
}

.navbar__btn.sign-up {
    color: var(--main-text-color-hover) !important;
    background-color: var(--main-accent-color-hover) !important;
}

.navbar__btn.sign-up:hover,
.navbar__btn.sign-up:focus {
    color: var(--main-text-color) !important;
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
}

.navbar__btn.sign-in:hover,
.navbar__btn.sign-in:focus {
    color: var(--main-text-color-hover) !important;
    background-color: var(--main-accent-color-hover) !important;
}

.navbar__btn:hover {
    border-color: var(--main-accent-color-hover) !important;
}

/* .navbar__dropdown>button::before,
.navbar__dropdown>button::after {
    display: none !important;
}

.navbar__dropdown>div {
    margin-top: 40px !important;
    margin-right: -42px !important;
    padding-block: 0;
    border-radius: var(--main-border-radius);
    border-width: 1px;
    border-color: var(--main-border-color) !important;
}

.navbar__dropdown>div>a {
    border-radius: var(--main-border-radius) !important;
}

.navbar__dropdown>div>button {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.navbar__dropdown>div>button {
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.navbar__dropdown>div>a:hover {
    color: var(--main-text-color-hover) !important;
    background-color: var(--main-accent-color-hover);
} */