.post__col {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid !important;
    border-color: var(--card-border-color) !important;
    padding-block: 12px;
    background-color: var(--main-white-shade);
}

.post__col:nth-child(1) {
    border-right: none !important;
    border-left: 1px;
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
}

.post__col:nth-child(2) {
    border-right: 1px;
    border-left: none !important;
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) 0px;
    width: 100%;
}

.post__div {
    padding: 10px 10px 0px 10px;
    border-radius: var(--main-border-radius);
    transition: var(--main-transition-speed);
    box-shadow: 0px 0px 0px white;
}

.post__div>iframe {
    min-width: 0px !important;
    width: 100% !important;
    transition: var(--main-transition-speed);
    margin-bottom: 0px !important;
}

.post__div-links {
    padding-block: 10px;
    /* max-width: 100%; */
}

.post__div-links-row {
    height: 54px;
    background-color: white;
    border: 1px solid var(--main-border-color);
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
}

.post__div-link-item:hover {
    transition: var(--main-transition-speed);
    background-color: var(--main-accent-color);
}

.post__div-link-item:hover .link__report-btn {
    border: 1px solid var(--main-text-color) !important;
    /* border: 1px solid white !important; */
}

.link__report-btn:hover {
    border-color: var(--main-text-color-hover) !important;
}

.post__comment-section-row {
    padding-block: 22px;
}

@media (max-width: 767px) {
    .post__col {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        /* border-bottom: 0px !important; */
    }

    .post__div-links-row,
    .post__div-link-item,
    .post__div-link-item>.row,
    .post__add-link-row,
    .post__comment-section-row {
        max-width: 493px;
    }

    .post__comment-section-row>.col,
    .post__comment-section-row>.col-12 {
        padding-inline: 2px !important;
    }
}

@media (max-width: 575px) {
    .post__col {
        padding-inline: 2px !important;
    }
}