@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --card-border-color: rgb(219, 219, 219);
  --card-title-font-size: 24px;
  --card-title-weight: 400;
  --main-title-color: rgb(0, 0, 0);
  --main-title-color-hover: rgb(119, 119, 119);
  --main-title-color-hover-vals: 119, 119, 119;
  --main-border-radius: 3px;
  --main-border-color: rgb(219, 219, 219);
  --main-accent-color: rgb(219, 219, 219);
  --main-accent-color-hover: rgb(119, 119, 119);
  --main-accent-color-active: rgb(119, 119, 119);
  --main-accent-color-rgb-vals: 219, 219, 219;
  --main-text-color: rgb(0, 0, 0);
  --main-text-color-hover: rgb(219, 219, 219);
  --main-text-color-rgb-vals: 0, 0, 0;
  /* --main-font-size: 14pt; */
  --main-transition-speed: 0.3s;
  --main-white-shade: rgb(255, 255, 255);
  --main-white-shade-vals: 255, 255, 255;
  --main-danger-color: rgb(220, 53, 69);
  --main-danger-color-hover: rgb(200, 35, 51);
  --main-danger-color-light: rgb(248, 215, 218);
  --main-danger-color-rgb-vals: 220, 53, 69;
  /*  --primary-font-family: 'Poppins', sans-serif; */
  --titles-font-family: 'Outfit', sans-serif;
  --primary-font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--primary-font-family);
  line-height: 1.6;
  transition: var(--main-transition-speed) !important;
}

h1, h2, h3, h4, h5, h6,
a, button {
  font-family: var(--titles-font-family) !important;
}

*::selection {
  background-color: var(--main-accent-color-hover) !important;
  color: var(--main-accent-color) !important;
}

body {
  scroll-behavior: smooth;
}

a {
  color: var(--main-text-color) !important;
  transition: var(--main-transition-speed);
}

a:hover {
  color: var(--main-accent-color-hover) !important;
  text-decoration: none;
}

a:focus-visible {
  outline-width: thin !important;
  outline-color: black !important;
  outline-style: solid !important;
  outline-offset: 0px !important;
  box-shadow: none !important;
  border-radius: var(--main-border-radius) !important;
}

input,
textarea,
button,
a[role="button"],
select {
  border-radius: var(--main-border-radius) !important;
}

input,
textarea {
  border-color: var(--main-border-color) !important;
}

form, input, select {
  transition: var(--main-transition-speed) !important;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  border-color: var(--main-accent-color-hover) !important;
}

input,
select {
  max-height: 34px;
}

input[type="checkbox"] {
  border-color: var(--main-title-color-hover) !important;
  border-radius: var(--main-border-radius) !important;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border-color: var(--main-text-color) !important;
  border-width: 2px;
}

input:checked {
  background-color: var(--main-accent-color) !important;
  border-color: var(--main-text-color) !important;
}

input:checked[type="checkbox"],
input:checked[type="radio"] {
  background-color: var(--main-accent-color) !important;
  border-color: var(--main-text-color) !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

button,
a[role="button"] {
  padding-block: 4px !important;
  padding-inline: 8px !important;
  background-color: var(--main-accent-color) !important;
  color: var(--main-text-color) !important;
  border: 1px solid transparent !important;
  height: fit-content;
  transition: var(--main-transition-speed) !important;
}

.styled-radio>label {
  background-color: transparent;
  color: var(--main-text-color);
  border-color: var(--main-border-color);
  border-radius: var(--main-border-radius);
  padding-inline: 8px;
  padding-block: 4px;
}

.styled-radio>label:not(:last-child) {
  margin-right: 1rem;
}

.styled-radio>label:hover,
button:hover,
a[role="button"]:hover {
  background-color: var(--main-accent-color-hover) !important;
  color: var(--main-text-color-hover) !important;
}

.styled-radio>label:hover,
.styled-radio>label:focus {
  border-color: var(--main-accent-color-hover) !important;
}

.styled-radio>label:focus,
.styled-radio>input:focus,
.styled-radio>input:focus+label {
  color: var(--main-text-color) !important;
  box-shadow: 0px 0px 0px 0.1rem rgba(var(--main-text-color-rgb-vals), 1) !important;
  background-color: var(--main-accent-color) !important;
}

.styled-radio>input:checked+label {
  background-color: var(--main-accent-color) !important;
  color: var(--main-text-color) !important;
  border-color: var(--main-accent-color-active) !important;
}

button:focus,
a[role="button"]:focus {
  box-shadow: 0px 0px 0px 0.1rem rgba(var(--main-text-color-rgb-vals), 1) !important;
  background-color: var(--main-accent-color-hover) !important;
}

button:active,
a[role="button"]:active {
  box-shadow: none !important;
}

.button-active {
  background-color: var(--main-accent-color-active) !important;
  color: var(--main-accent-color) !important;
}

.loading__i {
  animation: loadingDots 1.2s infinite ease-in-out;
}

.loading__i:nth-child(1) {
  animation-delay: 0s;
}

.loading__i:nth-child(2) {
  animation-delay: 0.2s;
}

.loading__i:nth-child(3) {
  animation-delay: 0.4s;
}

div, p, button {
  font-size: 1rem !important;
}

.accordion-item {
  border: 0;
}

.accordion-header>button {
  /* background-color: black !important; */
  box-shadow: none !important;
}

.accordion-header>button::after {
  display: none;
}

.accordion-body {
  margin-top: 0px;
  border: 1px solid;
  border-color: var(--main-border-color);
  border-width: 1px !important;
  border-radius: var(--main-border-radius) !important;
}

@keyframes loadingDots {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@media (max-width: 991px) {
  div, p, button, a[role="button"], input, textarea, select, a, label, h6 {
    font-size: 0.875rem !important;
  }

  svg:not(.shopping-bag-svg) {
    max-height: 1.0rem;
    max-width: 1.0rem;
  }

  input {
    max-height: 31px;
  }
}

@media (max-width: 575px) {
  .styled-radio>label:not(:last-child) {
    margin-right: 0.5rem;
  }
}