:root {
  --card-border-color: rgb(219, 219, 219);
  --card-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --card-title-font-size: 24px;
  --card-title-weight: 400;
  --main-title-color: rgb(0, 0, 0);
  --main-title-color-hover: rgb(119, 119, 119);
  --main-title-color-hover-vals: 119, 119, 119;
  --main-border-radius: 3px;
  --main-border-color: rgb(219, 219, 219);
  --main-accent-color: rgb(219, 219, 219);
  --main-accent-color-hover: rgb(119, 119, 119);
  --main-accent-color-rgb-vals: 219, 219, 219;
  --main-text-color: rgb(0, 0, 0);
  --main-text-color-hover: rgb(219, 219, 219);
  --main-text-color-rgb-vals: 0, 0, 0;
  --main-font-size: 16pt;
  --main-transition-speed: 0.3s;
  --main-white-shade: rgb(255, 255, 255);
  --main-white-shade-vals: 255, 255, 255;
}

#root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*::selection {
  background-color: var(--main-accent-color-hover) !important;
  color: var(--main-accent-color) !important;
}

body {
  scroll-behavior: smooth;
}

a {
  /* text-decoration: none !important; */
  color: var(--main-text-color) !important;
  transition: var(--main-transition-speed);
}

a:hover {
  color: var(--main-accent-color-hover) !important;
  text-decoration: none;
}

input, textarea, button, select {
  border-radius: var(--main-border-radius) !important;
}

input, select {
  transition: var(--main-transition-speed) !important;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  border-color: var(--main-accent-color-hover) !important;
}

button {
  padding-block: 4px !important;
  padding-inline: 8px !important;
  background-color: var(--main-accent-color) !important;
  color: var(--main-text-color) !important;
  border: 1px solid transparent !important;
  /* border-top: 1px solid var(--main-accent-color) !important;
  border-right: 1px solid var(--main-accent-color) !important;
  border-bottom: 1px solid var(--main-accent-color) !important;
  border-left: 1px solid var(--main-accent-color) !important; */
  height: fit-content;
  transition: var(--main-transition-speed) !important;
}

button:hover {
  background-color: var(--main-accent-color-hover) !important;
  color: var(--main-text-color-hover) !important;
}

button:focus {
  box-shadow: 0px 0px 0px 0.1rem rgba(var(--main-text-color-rgb-vals), 1) !important;
}

button:active {
  box-shadow: none !important;
}

.loading__i {
  animation: loadingDots 1.2s infinite ease-in-out;
}

.loading__i:nth-child(1) {
  animation-delay: 0s;
}

.loading__i:nth-child(2) {
  animation-delay: 0.2s;
}

.loading__i:nth-child(3) {
  animation-delay: 0.4s;
}

div, p, button {
  font-size: 1rem !important;
}

@keyframes loadingDots {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@media (max-width: 767px) {
  div, p, button, input, select {
    font-size: 0.875rem !important;
  }
}